html,body {
height:100%
}

select {
background:transparent;
color:#333;
border:none;
margin-top:5px;
width:85%
}

input[type='file'] {
width:300px;
}

.btn-df {
margin-bottom:10px
}

.row-margin-20 {
margin-bottom:20px
}

.btn-border {
border:1px solid #DDD!important;
margin-bottom:5px
}

.btn-border.btn-info {
border-color:#3498db!important
}

.btn-border.btn-success {
border-color:#00AF4A!important
}

.btn-default.btn-df:hover,.btn-default.btn-df:focus,.btn-default.btn-df:active,.btn-default.btn-border:hover,.btn-default.btn-border:focus,.btn-default.btn-border:active {
color:#333!important
}

.bg-none {
background:none!important
}

.border-none {
border:none!important
}

.margin-zero {
margin:0!important
}

.margin-bottom-zero {
margin-bottom:0!important
}

.margin-top-zero {
margin-top:0!important
}

.margin-right-zero {
margin-right:0!important
}

.margin-left-zero {
margin-left:0!important
}

.padding-zero {
padding:0!important
}

.padding-right-zero {
padding-right:0!important
}

.padding-left-zero {
padding-left:0!important
}

.padding-top-zero {
padding-top:0!important
}

.padding-bottom-zero {
padding-bottom:0!important
}

body {
padding-top:50px
}

.menu-top {
font-size:12px;
float:right
}

.navbar-inverse .navbar-nav > .open > a.menu-top {
background:none!important
}

.navbar-inverse .navbar-nav > li > a.menu-top:hover,.navbar-inverse .navbar-nav > li > a.menu-top:focus {
color:#B8B8B8;
background-color:transparent
}

.navbar-inverse .navbar-nav > .dropdown > a .caret-menu-top {
border-top-color:#fff;
border-bottom-color:#fff
}

ul.dropdown-menu > li.active > a {
color:#FFF!important
}

@media (min-width: 1200px) {
.container-max {
width:1024px
}
}

.container-main {
margin-top:20px
}

.container-auth {
margin-top:30px
}

.panel-login {
background:none
}

.link-footer {
margin-right:10px
}

.footer-p {
color:#ccc;
margin:0 auto;
}

.footer-p-2,.footer-p-2 > a.link-footer {
color:#1A75BC;
font-weight:400
}

.footer-p-2 > a:hover,a.login-link:hover,a.login-link:focus {
color:#1A75BC;
text-decoration:underline
}

a.link-home:hover {
color:#FFF!important;
text-decoration:underline
}

.menu-home-dropdown li {
width:50%;
float:left;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis
}

.menu-home-dropdown li > a {
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
font-size:13px
}

.menu-home-dropdown-user li {
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis
}

.menu-home-dropdown-user li > a {
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
font-size:13px
}

.dropdown-home {
width:270px
}

.dropdown-user {
width:320px
}

.dropdown-settings {
width:500px;
}

.label-terms {
color:#FFF
}

.dropdown-menu.arrow-up-user:before {
position:absolute;
top:-10px;
right:20px;
display:inline-block;
border-right:10px solid transparent;
border-bottom:10px solid #ddd;
border-left:10px solid transparent;
content:''
}

.dropdown-menu.arrow-up-user:after {
position:absolute;
top:-8px;
right:20px;
display:inline-block;
border-right:10px solid transparent;
border-bottom:10px solid #FFF;
border-left:10px solid transparent;
content:''
}

.btn-share-active:before {
position:absolute;
top:-21px;
right:12px;
display:inline-block;
border-right:10px solid transparent;
border-bottom:10px solid #ddd;
border-left:10px solid transparent;
content:''
}

.btn-share-active:after {
position:absolute;
top:-19px;
right:12px;
display:inline-block;
border-right:10px solid transparent;
border-bottom:10px solid #f5f5f5;
border-left:10px solid transparent;
content:''
}

.dropdown-menu.arrow-top:before {
position:absolute;
top:67px;
right:64px;
display:inline-block;
border-right:10px solid transparent;
border-top:10px solid #ddd;
border-left:10px solid transparent;
content:''
}

.dropdown-menu.arrow-top:after {
position:absolute;
top:66px;
right:64px;
display:inline-block;
border-right:10px solid transparent;
border-top:10px solid #fff;
border-left:10px solid transparent;
content:''
}

.dropdown-settings {
border:1px solid #DDD!important;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px
}

.image-dropdown {
width:48px;
height:48px
}

#buttonSearch,#buttonSearch-2 {
color:#DDD;
width:35px;
background:none;
height:24px;
position:absolute;
top:0;
right:5px;
cursor:pointer;
outline:none
}

#buttonSearch:hover,#buttonSearch-2:hover {
color:#999
}

.user-cover {
padding-top:26px!important;
position:relative;
max-height:350px;
height:300px;
margin-bottom:0!important
}

.page-cover {
padding-top:26px!important;
background:#D1D1D1;
background-size:cover;
position:relative;
max-height:350px
}

.list-grid,.list-grid-img {
padding:0;
margin-top:10px
}

.list-grid-img > li > a {
width:32%!important;
float:left;
margin:0 6px 5px 0;
opacity:.9
}

ul.list-grid-img li:nth-child(3n+3) > a {
margin-right:0!important
}

.list-grid-block > li > a {
display:block
}

.list-grid-block {
margin:0;
overflow:hidden
}

a.link-name {
line-height:17px!important;
margin:0;
display:block
}

.popover-card,.wrap-popover,.popover-card-user,.wrap-popover-user {
display:none
}

.timeline-title {
line-height:20px;
height:70px;
padding-top:15px;
background:#FFF!important;
border:none
}

.col-avatar {
margin:0 15px 0 0
}

.text-user-timeline {
font-weight:400;
color:#999
}

.link-post {
color:#999
}

.list-breadc > a:hover {
text-decoration:none;
color:#333
}

.container-media {
display:block;
margin:0 0 15px
}

.container-media .li-group:last-child {
border-bottom:none
}

.p-text {
color:#5E5E5E;
word-break:break-word
}

.margin-bt {
margin:0 0 15px
}

.list-inline > li.arrow-down:before {
position:absolute;
bottom:-10px;
right:50%;
display:inline-block;
border-right:10px solid transparent;
border-bottom:8px solid #ddd;
border-left:10px solid transparent;
content:''
}

.list-inline > li.arrow-down:after {
position:absolute;
bottom:-12px;
right:50%;
display:inline-block;
border-right:10px solid transparent;
border-bottom:8px solid #fff;
border-left:10px solid transparent;
content:''
}

.list-media-mv {
position:relative;
margin-top:10px
}

.title-panel-ms {
font-size:18px
}

.list-group-ms {
padding:0 10px 0 0;
border:1px solid #DDD!important
}

.list-panel-df {
margin-bottom:5px
}

.list-panel-df > a {
font-size:18px;
padding:5px 3px
}

.grid-panel-title {
line-height:20px;
padding-top:15px;
background:#FFF!important
}

.col-padding-bot {
padding-bottom:15px
}

.text-space-wrap {
white-space:normal!important
}

.text-dd-mm {
text-indent:15px;
padding:5px 0;
border-bottom:1px solid #E6E6E6;
line-height:16px
}

.text-dd-mm small {
font-size:11px
}

.text-dd-mm:last-child {
border:none
}

.margin-top-mv {
margin-top:15px
}

a.font-grid {
font-size:20px
}

.sm-btn-size {
font-size:13px!important
}

.input-search-sm {
border-right-width:0!important
}

.btn-search-sm {
line-height:19px!important
}

.btn-search-sm:hover {
border-color:#bdc3c7!important
}

.media-nowrap {
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden
}

.ico-float-right {
margin-right:10px;
width:16px;
display:inline-block;
text-align:center
}

.user-search {
color:#1A75BC
}

.place-search {
color:#0F8F04
}

.pages-search {
color:#F60
}

a.list-group-item.active-list {
color:#555;
text-decoration:none;
background-color:#fff;
font-weight:700
}

.color-font {
color:#999
}

.links-sm {
display:block
}

.links-sm strong {
color:#333
}

a:hover.links-sm {
text-decoration:none
}

.block-sm {
display:block
}

.text-link {
font-size:10px
}

.login-input {
border-color:#DDD!important
}

.login-link-2 {
color:#999;
display:block;
font-size:12px;
margin-top:15px;
text-align:center
}

.label-terms-2 {
color:#999;
font-size:12px
}

.label-terms {
font-size:13px
}

.title-error {
font-size:110px;
color:red;
font-family:'Fjalla One',sans-serif
}

.title-error span {
color:#333;
font-size:80px
}

.subtitle-error {
font-size:20px;
color:#838383
}

.icon-error {
font-size:170px;
color:#999
}

ul.nav-user-profile > li > a,ul.nav-user-profile-wall > li > a {
font-size:12px;
font-weight:400!important;
color:#333
}

ul.nav-user-profile > li > a:hover,ul.nav-user-profile-wall > li > a:hover,ul.nav-user-profile > li.active > a,ul.nav-user-profile-wall > li.active > a,ul.nav-user-profile-wall > li.active > a:hover,ul.nav-user-profile > li.active > a:hover {
background-color:transparent!important;
box-shadow:inset 0 -4px #F30;
border-radius:0;
color:#333
}

.counter-sm {
color:#F30;
font-size:17px!important;
line-height:15px
}

.profile-avatar {
position:absolute;
top:150px;
left:30px;
z-index:999;
box-shadow:0 2px 1px rgba(0,0,0,.2)
}

.nav-user-profile {
margin-left:235px
}

.user-name-profile {
font-size:20px;
color:#333;
margin:0 0 10px;
word-break:break-word
}

.user-name-profile-card {
font-size:18px;
margin:0
}

.word-brk {
word-break:break-word
}

.user-name-profile-card a,.user-name-profile-card a:hover {
color:#333
}

.user-name-profile small,.user-name-profile-card small,.username-ui {
color:#999
}

.follow-you {
font-size:10px;
font-weight:400!important
}

.menu-footer {
font-size:12px;
line-height:14px
}

.menu-footer > li {
padding:0
}

.menu-footer > li > a,.menu-footer > li:first-child {
margin:5px 4px
}

.list-options > li > a {
font-size:13px
}

.list-options {
margin-top:15px
}

.navbar-user-ui {
border-top:1px solid #DDD!important;
border-radius:0!important
}

.ico-post {
padding:5px;
background-color:#F30;
color:#fff;
border-radius:3px
}

.search-cls {
padding-right:33px!important
}

.footer-grid {
margin-bottom:15px;
clear:both;
margin-top:75px;text-align:center;
color: #555;
}
.media-visible {
border-bottom:1px solid #DDD;
overflow:visible!important;
display:inline-block;
}

.photo-card {
margin-left:10px;
width:100px;
margin-top:-30px;
}

.img-responsive-alt img {
width:100%
}

#noti_msg,#noti_connect {
display:none
}

.logout {
cursor:pointer
}

.link-follow {
color:#333!important
}

li { list-style:none; }
input, button, textarea { outline: none; border: #ccc solid 1px; }
a, 
a:focus,
a:active,  
select,
button,
button:active,
button:focus,
input {
outline:none; }
a:hover { text-decoration:none;}
textarea { resize: none; }

.welcomepage {
    background: url('../img/bg-01.jpg') no-repeat;
}

.logo {
    width: 40px;
    margin-top: 3px;;
}

.imglogo {
    width:300px;
    margin: 0 auto;
}

.imglogo-item {
    width: 300px;
}

.wordbreak {
    word-wrap: break-word;
}

.footer-p a {
color: #ccc;
font-weight: 500;;
}


input#searchform:hover {
    border: none;
}

.tabs{
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.tabs li{
    cursor: pointer;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}
.float-right {
float:right;
}
.labelAvatar {
    height: 100px;
}
.labelAvatar img{
    margin: 0;
}

.form_login{
    margin:0 auto;
    width: 100%;
}

.navlist {
    cursor : pointer;
}

.sub-title-home {
    color:#fff;
}

.tablewrap{
 overflow-x: scroll;
}